<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")

        title Satto - Responsive One Page Template

        link(rel="shortcut icon" href="img/favicon.ico")
        link(href="css/bootstrap.min.css" rel="stylesheet")
        link(href="css/main.css" rel="stylesheet")

    body

        //- Preloader
        div(id="preloader")
            div(class="spinner")

        section(class="demo-home-section bg-overlay")
            div(class="container")
                div(class="demo-home-content")
                    img(src="img/logo.png" class="img-fluid" alt="")
                    h4 Responsive One Page Template
            div(class="curv-img")
                svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 238" enable-background="new 0 0 1920 238" xml:space="preserve")
                    path(fill="#ffffff" d="M0,0c0,0,888.955,518.735,1920,0c-0.5,149.535,0,238,0,238H0V0z")

        section(class="demo-section")
            div(class="container")
                div(class="row")
                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-1.html" target="_blank")
                                img(src="img/demo/1.png" alt="" class="img-fluid")
                            h5 Default Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-2.html" target="_blank")
                                img(src="img/demo/2.png" alt="" class="img-fluid")
                            h5 Default With Text Rotate Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-3.html" target="_blank")
                                img(src="img/demo/3.png" alt="" class="img-fluid")
                            h5 Default With Particles Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-4.html" target="_blank")
                                img(src="img/demo/4.png" alt="" class="img-fluid")
                            h5 creative Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-5.html" target="_blank")
                                img(src="img/demo/5.png" alt="" class="img-fluid")
                            h5 creative with text rotate Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-6.html" target="_blank")
                                img(src="img/demo/6.png" alt="" class="img-fluid")
                            h5 creative With Particles Home Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-7.html" target="_blank")
                                img(src="img/demo/7.png" alt="" class="img-fluid")
                            h5 clip Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-8.html" target="_blank")
                                img(src="img/demo/8.png" alt="" class="img-fluid")
                            h5 clip With text rotate Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-9.html" target="_blank")
                                img(src="img/demo/9.png" alt="" class="img-fluid")
                            h5 clip With Particles Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-10.html" target="_blank")
                                img(src="img/demo/10.png" alt="" class="img-fluid")
                            h5 default With parallax Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-11.html" target="_blank")
                                img(src="img/demo/11.png" alt="" class="img-fluid")
                            h5 creative With parallax Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-12.html" target="_blank")
                                img(src="img/demo/12.png" alt="" class="img-fluid")
                            h5 clip With parallax Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-13.html" target="_blank")
                                img(src="img/demo/13.png" alt="" class="img-fluid")
                            h5 particles with parallax Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-14.html" target="_blank")
                                img(src="img/demo/14.png" alt="" class="img-fluid")
                            h5 Back Slider Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-15.html" target="_blank")
                                img(src="img/demo/15.png" alt="" class="img-fluid")
                            h5 Animation Home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-16.html" target="_blank")
                                img(src="img/demo/16.png" alt="" class="img-fluid")
                            h5 Wavify with text type home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-17.html" target="_blank")
                                img(src="img/demo/17.png" alt="" class="img-fluid")
                            h5 Wavify with Text Rotate home

                    div(class="col-lg-4")
                        div(class="home-img-box")
                            a(href="index-18.html" target="_blank")
                                img(src="img/demo/18.png" alt="" class="img-fluid")
                            h5 Video Home
        
        footer(class="demo-footer bg-light")
            div(class="container")
                p(class="copyright") Copyright &copy; 2020 Satto. Made with Love by Pixygen.


        script(src="js/jquery.min.js")
        script(src="js/bootstrap.bundle.min.js")

        script.
            $('#preloader').delay(500).fadeOut('slow');
            $('.spinner').delay(250).fadeOut();
            $('body').delay(250).css({
                'overflow': 'visible'
            });