extends includes/template.pug

block HomeSection
    // Home Section 1
    section(class="bg-overlay bg-image" id="home")
        div(class="container")
            div(class="home-content")
                h4(class="home-welcome") I'M 
                    span(class="element" data-elements="A Freelancer, A UX/UI Designer., A Photographer.")
                h1(class="home-name") Satto Ricko
                p(class="home-desc") It is a long established fact that a reader will be of a page when established fact looking at its layout.
        div(class="scroll-down")
            a(href="#about" class="scroll")
                i(class="mdi mdi-chevron-down")