extends includes/template.pug

block HomeSection
    // Home Section 4
    section(class="bg-overlay bg-image particles-js" id="home")
        div(class="container")
            div(class="home-content")
                h4(class="home-welcome") I'M 
                    span(class="simple-text-rotate") A Freelancer., A UX/UI Designer., A Developer.
                h1(class="home-name") Satto Ricko
                p(class="home-desc") It is a long established fact that a reader will be of a page when established fact looking at its layout.
                div(class="home-btn scroll-to")
                    a(href="#contact" class="btn btn-outline") Contact Me Now
        div(class="scroll-down")
            a(href="#about" class="scroll")
                i(class="mdi mdi-chevron-down")
        div(class="home-curved")
            svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 238" enable-background="new 0 0 1920 238" xml:space="preserve")
                path(fill="#ffffff" d="M0,0c0,0,888.955,518.735,1920,0c-0.5,149.535,0,238,0,238H0V0z")