extends includes/template.pug

block HomeSection
    // Home Section 17
    section(class="bg-overlay bg-image home-wave" id="home")
        div(class="container")
            div(class="home-content")
                h4(class="home-welcome") I'M 
                    span(class="simple-text-rotate") A Freelancer., A UX/UI Designer., A Developer.
                h1(class="home-name") Satto Ricko
                p(class="home-desc") It is a long established fact that a reader will be of a page when established fact looking at its layout.
                div(class="home-btn scroll-to")
                    a(href="#works" class="btn btn-outline") See My Works    
        div(class="wave-sec")
            svg(width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                defs
                path(id="img-wave" d="")
