.demo-home-section {
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  height: 50vh;
  &.bg-overlay {
    position: relative;
    &:before { 
      background-color: rgba(0, 0, 0, 0.69);
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: '';
    }
  }
  .container,
  .container-fluid {
    z-index: 2;
  }
  .demo-home-content {
    text-align: center;
    padding-bottom: 30px;
    img {
      height: 44px;
      display: block;
      margin: 0 auto;
    }
    h4 {
      margin-top: 24px;
      color: #fff;
      font-size: 22px;
    }
  }
  .curv-img {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    svg {
      display: block;
    }
  }
}

.demo-section {
  padding: 50px 0 100px;
  .home-img-box {
    padding-top: 50px; 
    a {
      display: block;
      img {
        position: relative;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        border: 1px solid #e8e8e8;
        transition: all 0.5s;
        &:hover {
          background-color: #fff;
          box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
          border-color: none;
          transform: translateY(-5px);
        }
      }
    }
    h5 {
      font-weight: 600;
      margin-top: 20px;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.demo-footer {
  padding: 35px 0px;
  text-align: center;
  .copyright{
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .demo-home-section {
    height: 45vh;
    .curv-img {
        bottom: 0px;
    }
  }
}