/*-------------------------------------------------------*/
/* Variables
/*-------------------------------------------------------*/

// Colors
$main-color: #e65f78;
$main-hover-color: #d8576f;

$heading-color: #212529;
$text-color: #6c757d;

// Fonts
$heading-font: 'Montserrat', sans-serif;
$default-font: 'Nunito', sans-serif;