<!DOCTYPE html>
html(lang="en")

    head

        include head.pug
  
    body

        // Loader
        div(id="preloader")
            div(class="spinner")

        // Navbar
        nav(class="navbar navbar-expand-md fixed-top")
            div(class="container")
                a(class="navbar-brand" href="#")
                    img(src="img/logo.png" alt="" class="img-fluid logo-light")
                    img(src="img/logo-dark.png" alt="" class="img-fluid logo-dark")
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="mdi mdi-menu")
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul(class="navbar-nav ml-auto")
                        li(class="nav-item active")
                            a(class="nav-link" href="#home") Home
                        li(class="nav-item")
                            a(class="nav-link" href="#about") About
                        li(class="nav-item")
                            a(class="nav-link" href="#services") Services
                        li(class="nav-item")
                            a(class="nav-link" href="#works") Portfolio
                        li(class="nav-item")
                            a(class="nav-link" href="#testimonials") Testimonials
                        li(class="nav-item")
                            a(class="nav-link" href="#blog") Blog
                        li(class="nav-item")
                            a(class="nav-link" href="#contact") Contact

        //- Home
        block HomeSection
        
        // About Section
        section(class="section" id="about")
            div(class="container")
                div(class="row align-items-center")
                    div(class="col-lg-7" data-aos="fade-up")
                        div(class="about-desc")
                            h2 About Me
                            h4 Hello! I'M 
                                span(class="element" data-elements="Satto Ricko., A Freelancer., A Front End Developer.,A UX/UI Designer.")
                            div(class="about-text")
                                p Consectetur adipisicing elit aliquid fugiat assumenda expedita dignissimos possimus totam ipsam ullam quod consequuntur nostrum accusamus eveniet excepturi delectus voluptatum repellendus maxime ratione.
                                p Sed animi veniam dolore minima aliquam nona Culpa expedita unde laudantium eos dolores debitis eum quia tempore voluptatibus.
                                p Quasi dolorum quaerat consequatur est animi ullamas repudiandae autem, saepe under dolore sit inventore eveniet asperiores nisilit nobis accusantium aspernatur.
                            div(class="about-actions scroll-to")
                                a(href="#contact" class="btn") Contact Me Now
                                a(href="#works" class="btn btn-link") 
                                    | Discover My Works
                                    i(class="mdi mdi-chevron-right")
                    div(class="col-lg-5" data-aos="fade-up")
                        div(class="about-img")
                            img(src="img/about.jpg" alt="" class="img-fluid")
                            div(class="about-play")
                                a(href="https://www.youtube.com/watch?v=2E93KHqU2s4" class="video-play")
                                    i(class="mdi mdi-play")
        
        // Servicess Section
        section(class="section bg-light" id="services")
            div(class="container")
                div(class="section-title" data-aos="fade-up")
                    h2 My Services
                    div(class="divider")
                    p Lorem ipsum dolor sit amet consectetur adipisicing melit corporis fugit sequi delectus vitae neque pullam.
                div(class="servicess-wrap")
                    div(class="row")
                        div(class="col-lg-4")
                            div(class="service" data-aos="fade-up")
                                div(class="service-icon")
                                    i(class="mbri-growing-chart")
                                div(class="service-details")
                                    h5(class="service-title") UX/UI Design
                                    p(class="service-desc") Venizo dolores amquae illum quis atque volup tas possimus modiipsa pod officis reprehen derit inci dunt.
                        div(class="col-lg-4")
                            div(class="service" data-aos="fade-up")
                                div(class="service-icon")
                                    i(class="mbri-hot-cup")
                                div(class="service-details")
                                    h5(class="service-title") Web Development
                                    p(class="service-desc") Venizo dolores amquae illum quis atque volup tas possimus modiipsa pod officis reprehen derit inci dunt.
                        div(class="col-lg-4")
                            div(class="service" data-aos="fade-up")
                                div(class="service-icon")
                                    i(class="mbri-upload")
                                div(class="service-details")
                                    h5(class="service-title") Digital Marketing
                                    p(class="service-desc") Venizo dolores amquae illum quis atque volup tas possimus modiipsa pod officis reprehen derit inci dunt.
                        div(class="col-lg-4")
                            div(class="service" data-aos="fade-up")
                                div(class="service-icon")
                                    i(class="mbri-layers")
                                div(class="service-details")
                                    h5(class="service-title") Wordpress Themes
                                    p(class="service-desc") Venizo dolores amquae illum quis atque volup tas possimus modiipsa pod officis reprehen derit inci dunt.
                        div(class="col-lg-4")
                            div(class="service" data-aos="fade-up")
                                div(class="service-icon")
                                    i(class="mbri-website-theme")
                                div(class="service-details")
                                    h5(class="service-title") Responsive Design
                                    p(class="service-desc") Venizo dolores amquae illum quis atque volup tas possimus modiipsa pod officis reprehen derit inci dunt.
                        div(class="col-lg-4")
                            div(class="service" data-aos="fade-up")
                                div(class="service-icon")
                                    i(class="mbri-edit")
                                div(class="service-details")
                                    h5(class="service-title") Friendly Support
                                    p(class="service-desc") Venizo dolores amquae illum quis atque volup tas possimus modiipsa pod officis reprehen derit inci dunt.

        // Works Section
        section(class="section" id="works")
            div(class="container")
                div(class="section-title" data-aos="fade-up")
                    h2 My Portfolio
                    div(class="divider")
                    p Lorem ipsum dolor sit amet consectetur adipisicing melit corporis fugit sequi delectus vitae neque pullam.
                div(class="works-wrap")
                    ul(class="work-menu list-unstyled list-inline" id="menu-filter" data-aos="fade-up")
                        li(class="list-inline-item")
                            a(class="active" data-filter="*") All
                        li(class="list-inline-item")
                            a(class="" data-filter=".seo") Seo
                        li(class="list-inline-item")
                            a(class="" data-filter=".webdesign") Web Design
                        li(class="list-inline-item")
                            a(class="" data-filter=".work") Work
                        li(class="list-inline-item") 
                            a(class="" data-filter=".wordpress") Wordpress
                    div(class="work-filter row")
                        div(class="col-lg-4 work-item webdesign wordpress" data-aos="fade-up")
                            a(href="img/works/1.jpg" class="img-zoom")
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/1.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item webdesign seo" data-aos="fade-up")
                            a(href="img/works/2.jpg" class="img-zoom")
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/2.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item seo wordpress" data-aos="fade-up")
                            a(href="img/works/3.jpg" class="img-zoom")
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/3.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item wordpress work webdesign" data-aos="fade-up")
                            a(href="img/works/4.jpg" class="img-zoom")
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/4.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item seo webdesign" data-aos="fade-up")
                            a(href="img/works/5.jpg" class="img-zoom")
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/5.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item wordpress webdesign" data-aos="fade-up")
                            a(href="img/works/6.jpg" class="img-zoom") 
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/6.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item devlopment webdesign work" data-aos="fade-up")
                            a(href="img/works/7.jpg" class="img-zoom") 
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/7.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item devlopment webdesign work" data-aos="fade-up")
                            a(href="img/works/8.jpg" class="img-zoom") 
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/8.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category
                        div(class="col-lg-4 work-item devlopment seo" data-aos="fade-up")
                            a(href="img/works/9.jpg" class="img-zoom") 
                                div(class="work-box")
                                    div(class="work-img")
                                        img(src="img/works/9.jpg" class="img-fluid rounded" alt="")
                                    div(class="work-detail")
                                        h4 Project Title
                                        p Category

        // Testimonials Section
        section(class="section bg-light" id="testimonials")
            div(class="container")
                div(class="section-title" data-aos="fade-up")
                    h2 Our Clients
                    div(class="divider")
                    p Lorem ipsum dolor sit amet consectetur adipisicing melit corporis fugit sequi delectus vitae neque pullam.
                div(class="testi-wrap" data-aos="fade-up")
                    div(id="owl-testi" class="owl-carousel")
                        div(class="testi-box") 
                            div(class="testi-icon")
                                i(class="mbri-quote-left")
                            p(class="testi-text") "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here"
                            p(class="testi-author")
                                img(src="img/testi/testi-1.jpg" alt="" class="img-thumbnail img-fluid rounded-circle")
                                strong David Lee
                                span Founder at Patomatic
                        div(class="testi-box")
                            div(class="testi-icon")
                                i(class="mbri-quote-left")
                            p(class="testi-text") "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here"
                            p(class="testi-author") 
                                img(src="img/testi/testi-2.jpg" alt="" class="img-thumbnail img-fluid rounded-circle")
                                strong Isaac Santos
                                span UX Designer at Indeello
                        div(class="testi-box")
                            div(class="testi-icon")
                                i(class="mbri-quote-left")
                            p(class="testi-text") "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here"
                            p(class="testi-author") 
                                img(src="img/testi/testi-3.jpg" alt="" class="img-thumbnail img-fluid rounded-circle")
                                strong Jonas Paricio
                                span Project Manager at Envato

        // CTA Section
        section(class="section bg-image bg-overlay" id="cta")
            div(class="container")
                div(class="row justify-content-center")
                    div(class="col-lg-9")
                        div(class="content")
                            h5 I Am Always Available for Freelance Work
                            h2 Start a project with me today!
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil exercitationem deserunt consequatur aut consequuntur modi distinctio quis numquam, voluptate quam, debitis dolorem. Consequuntur adipisci officiis voluptate.
                            div(class="scroll-to")
                                a(href="#contact" class="btn btn-outline") Hire Me Now! 

        // Blog Section
        section(class="section bg-light" id="blog")
            div(class="container")
                div(class="section-title" data-aos="fade-up")
                    h2 My Blog
                    div(class="divider")
                    p Lorem ipsum dolor sit amet consectetur adipisicing melit corporis fugit sequi delectus vitae neque pullam.
                div(class="blog-wrap")
                    div(class="row")
                        div(class="col-lg-4")
                            div(class="blog-post" data-aos="fade-up")
                                a(class="blog-img" href="#")
                                    img(src="img/blog/blog-1.jpg" alt="" class="img-fluid")
                                div(class="blog-content")
                                    h5(class="blog-title")
                                        a(href="#") How to Motivate Yourself 
                                    p(class="blog-meta")
                                        span(class="date") 
                                            i(class="mdi mdi-calendar") 
                                            | 30 May 2020 
                                        a(href="#" class="author") 
                                            i(class="mdi mdi-account") 
                                            | Satto Ricko
                                    p(class="blog-body") Animi minus ullam itaque optio nemo id iste consectetur neque soluta debitis ipsam architecto est consequunt.
                                    a(href="#" class="blog-read-more") Read More
                                        i(class="mdi mdi-chevron-right")
                        div(class="col-lg-4")
                            div(class="blog-post" data-aos="fade-up")
                                a(class="blog-img" href="#")
                                    img(src="img/blog/blog-2.jpg" alt="" class="img-fluid")
                                div(class="blog-content")
                                    h5(class="blog-title")
                                        a(href="#") How to Be More Productive
                                    p(class="blog-meta")
                                        span(class="date") 
                                            i(class="mdi mdi-calendar") 
                                            | 13 June 2018 
                                        a(href="#" class="author") 
                                            i(class="mdi mdi-account") 
                                            | Satto Ricko
                                    p(class="blog-body") Animi minus ullam itaque optio nemo id iste consectetur neque soluta debitis ipsam architecto est consequunt.
                                    a(href="#" class="blog-read-more") Read More
                                        i(class="mdi mdi-chevron-right")
                        div(class="col-lg-4")
                            div(class="blog-post" data-aos="fade-up")
                                a(class="blog-img" href="#")
                                    img(src="img/blog/blog-3.jpg" alt="" class="img-fluid")
                                div(class="blog-content")
                                    h5(class="blog-title")
                                        a(href="#") Top Tools for Developers
                                    p(class="blog-meta")
                                        span(class="date") 
                                            i(class="mdi mdi-calendar") 
                                            | 15 April 2020
                                        a(href="#" class="author") 
                                            i(class="mdi mdi-account") 
                                            | Satto Ricko
                                    p(class="blog-body") Animi minus ullam itaque optio nemo id iste consectetur neque soluta debitis ipsam architecto est consequunt.
                                    a(href="#" class="blog-read-more") Read More
                                        i(class="mdi mdi-chevron-right")

        // Contact Section
        section(class="section" id="contact")
            div(class="container")
                div(class="section-title" data-aos="fade-up")
                    h2 Contact Me
                    div(class="divider")
                    p Lorem ipsum dolor sit amet consectetur adipisicing melit corporis fugit sequi delectus vitae neque pullam.
                div(class="contact-wrap")
                    div(class="contact-info" data-aos="fade-up")
                        div(class="row")
                            div(class="col-lg-4")
                                div(class="single-info")
                                    div(class="contact-icon")
                                        i(class="mbri-mobile2")
                                    div(class="contact-detail")
                                        h5 Call Me
                                        p +1 395 2017 6814
                            div(class="col-lg-4")
                                div(class="single-info")
                                    div(class="contact-icon")
                                        i(class="mbri-letter")
                                    div(class="contact-detail")
                                        h5 Email Me
                                        p email@website.com
                            div(class="col-lg-4")
                                div(class="single-info")
                                    div(class="contact-icon")
                                        i(class="mbri-pin")
                                    div(class="contact-detail")
                                        h5 Visit Me
                                        p 4155, Val Street, Liverpool.
                    div(class="contact-form" data-aos="fade-up")   
                        div(class="row")
                            div(class="col-lg-12")
                                form
                                    div(class="row")
                                        div(class="col-lg-5")
                                            div(class="row")
                                                div(class="col-lg-12")
                                                    div(class="form-group")
                                                        input(name="name" id="name" type="text" class="form-control" placeholder="Your Name*" required="")
                                                div(class="col-lg-12")
                                                    div(class="form-group")
                                                        input(name="email" id="email" type="email" class="form-control" placeholder="Your Email*" required="")
                                                div(class="col-lg-12")
                                                    div(class="form-group")
                                                        input(type="text" class="form-control" id="subject" placeholder="Your Subject.." required="")
                                        div(class="col-lg-7")
                                            div(class="form-group")
                                                textarea(name="comments" id="comments" rows="6" class="form-control" placeholder="Your message...")
                                    div(class="row")
                                        div(class="col-lg-12 text-right")
                                            input(type="submit" class="btn" value="Send Message")
            
        // Footer Section
        footer(class="footer bg-light")
            div(class="container")
                div(class="footer-wrap")
                    ul(class="footer-social list-unstyled list-inline")
                        li(class="list-inline-item")
                            a(href="#")
                                i(class="mdi mdi-facebook")
                        li(class="list-inline-item")
                            a(href="#")
                                i(class="mdi mdi-linkedin")
                        li(class="list-inline-item")
                            a(href="#")
                                i(class="mdi mdi-pinterest")
                        li(class="list-inline-item")
                            a(href="#")
                                i(class="mdi mdi-twitter")
                    p Copyright &copy; 2020 Satto. Made with Love by Pixygen.

        // Back To Top    
        a(href="#" class="back-to-top")
            i(class="mdi mdi-chevron-up")

        // Scripts
        include scripts.pug
        block ExtraScripts